body {
  margin: 0;
}

#app {
  width: 100%;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  gap: 1rem;
}
